@page "/player/{id}"
@page "/player/tv/{id}/{season:int}/{episode:int}"
@using Microsoft.AspNetCore.Components
@using HtmlAgilityPack
@inject NavigationManager Nav
@inject MoviesApp.Shared.Models.Settings Settings
@inject IJSRuntime JS;

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="_content/MoviesApp.Shared/hls-init.js"></script>
<PageTitle>Player</PageTitle>

@if(!string.IsNullOrWhiteSpace(_embed) || !string.IsNullOrWhiteSpace(_srcdoc))
{
<div class="ratio ratio-16x9">
@*     @if (!string.IsNullOrWhiteSpace(_srcdoc))
    {
            <iframe src="@_srcdoc" name="player" allow="autoplay; encrypted-media" sandbox="allow-same-origin allow-scripts" allowfullscreen="true" fullscreen></iframe>
    }
    @if (htmlNode != null)
    {
        
    }
    else
    {
        <iframe src="@_embed" name="player" allow="autoplay; encrypted-media" allowfullscreen="true" fullscreen></iframe>
    } *@
        <iframe src="@_embed" name="player" allow="autoplay; encrypted-media" allowfullscreen="true" fullscreen></iframe>

</div>
}
<div class="mt-2">
    <a class="btn btn-secondary" href="/">Back</a>
    <span class="ms-2">@_embed</span>
    <div class="text-danger">@_error</div>
    <div>@_status</div>
</div>

@code {


    [Parameter] public string id { get; set; } = string.Empty;
    [Parameter] public int? season { get; set; }
    [Parameter] public int? episode { get; set; }

    string _embed = string.Empty;
    string _srcdoc = string.Empty;
    string _error = string.Empty;
    string _status = string.Empty;
    bool _requestFullscreen = false;

    HtmlNode? htmlNode;

    protected override async Task OnParametersSetAsync()
    {
        _status = "Building";
        _error = string.Empty;
        _embed = string.Empty;
        _srcdoc = string.Empty;
        var key = id;
        if (!string.IsNullOrWhiteSpace(key))
        {
            try
            {
                if (season.HasValue && episode.HasValue)
                {
                    _embed = $"https://vidsrc.to/embed/tv/{key}/{season.Value}/{episode.Value}";
                }
                else
                {
                    if (key.StartsWith("tt"))
                    {
                        _embed = $"https://vidsrc.to/embed/movie/{key.TrimStart("tt").ToString()}";
                    }
                    else
                    {
                        _embed = $"https://vidsrc.to/embed/movie/{key}";
                    }
                }
                // if (!string.IsNullOrWhiteSpace(Settings.NoAdsProxyBaseUrl))
                // {
                //     var baseUrl = Settings.NoAdsProxyBaseUrl.TrimEnd('/');
                //     var encoded = Uri.EscapeDataString(_embed);
                //     _embed = $"{baseUrl}/embed?url={encoded}";
                // }
                // else if (_embed.Contains("vidsrc"))
                // {
                //     var html = await new HttpClient().GetStringAsync(_embed);
                //     var doc = new HtmlDocument();
                //     doc.LoadHtml(html);
                //     var iframe = doc.DocumentNode.Descendants("iframe").FirstOrDefault();
                //     if (iframe != null)
                //     {
                //         iframe.SetAttributeValue("sandbox", "allow-same-origin allow-scripts");
                //         var inner = iframe.GetAttributeValue("src", string.Empty).TrimEnd("/").ToString();

                //         iframe.SetAttributeValue("src", inner);

                //         _srcdoc = inner;
                //         _embed = string.Empty;
                //     }
                // }
                _requestFullscreen = !string.IsNullOrWhiteSpace(_embed) || !string.IsNullOrWhiteSpace(_srcdoc);
            }
            catch (Exception ex)
            {
                _error = ex.Message;
            }
        }
        _status = string.Empty;
    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (_requestFullscreen)
    //     {
    //         _requestFullscreen = false;
    //         try
    //         {
    //             await Task.Delay(250);
    //             await JS.InvokeVoidAsync("playerFullscreen");
    //         }
    //         catch
    //         {
    //         }
    //     }
    // }
}
